body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 400px;
  }
  
  #herbie_div {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  #herbie_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
    width: 100%;
  }
  
  #herbie_logo {
    height: 30px;
    margin-right: 10px;
  }
  
  #herbie_buttons span {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 16px;
  }
  
  #herbie_buttons button, 
  #herbie_buttons input {
    margin: 5px 5px 0 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  
  #herbie_buttons button:hover {
    background-color: #0056b3;
  }
  
  #herbie_buttons .run-button {
    background-color: #28a745;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #herbie_buttons .run-button:hover {
    background-color: #218838;
  }
  
  #herbie_buttons .save-button {
    background-color: #ffc107;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #herbie_buttons .save-button:hover {
    background-color: #e0a800;
  }
  
  #herbie_buttons .run-button i, 
  #herbie_buttons .save-button i {
    font-size: 20px;
  }
  
  .herbie_script, .herbie_bar, .herbie_output {
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .herbie_script label, .herbie_bar label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .herbie_script textarea {
    width: 100%;
    font-family: monospace;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
  }
  
  .herbie_bar {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
  
  .herbie_bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 5px;
    flex-grow: 1;
    width: 100%;
    box-sizing: border-box;
  }
  
  .herbie_bar .button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .herbie_bar .button-container button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .herbie_bar .button-container button i {
    margin-right: 5px;
  }
  
  .herbie_bar .button-container button:hover {
    background-color: #0056b3;
  }
  
  .herbie_output {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-wrap;
    max-height: 150px;
    overflow-y: auto;
    box-sizing: border-box;
    width: 100%;
  }
  
  .progress-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
  }
  
  .progress-bar {
    height: 20px;
    background-color: #007bff;
    width: 0;
    transition: width 0.4s;
  }
  
  #herbie_line {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .tab-container {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .tab-button {
    flex: 1;
    padding: 10px 0;
    text-align: center;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .tab-button:hover {
    background-color: #ddd;
  }
  
  .tab-button.active {
    background-color: #ccc;
    font-weight: bold;
  }
  
  .tab-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
  }
  
  .tab-content.active {
    display: block;
  }

  /* Make the Logs tab scrollable */
  .log-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.export-logs {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.export-logs i {
    margin-right: 5px;
}

.export-logs:hover {
    background-color: #0056b3;
}

.logs-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.log-entry {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.log-header .delete-log {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545; /* Red color for the trash icon */
}

.log-header .delete-log:hover {
    color: #c82333; /* Darker red on hover */
}

.log-header .delete-log i {
    font-size: 18px; /* Adjust the size as needed */
}

.log-entry pre {
    white-space: pre-wrap; /* Wraps text in <pre> */
    word-wrap: break-word; /* Breaks long words */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.tab-content {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.tab-content.active {
    display: block;
}
/* Progress bar specific to Logs section */
.logs-progress-bar-container {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
   display: none;
}

.logs-progress-bar {
    height: 20px;
    background-color: #007bff;
    width: 0;
    transition: width 0.4s;
}

.save-button .fa-check {
    display: none;
}

.save-button.saving .fa-check {
    display: inline;
}

.save-button.saving .fa-save {
    display: none;
}

.saved-scripts-container {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}
.saved-scripts-container {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
}

.script-entry {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}

.script-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.script-header .delete-script {
    background: none;
    border: none;
    cursor: pointer;
    color: #dc3545; /* Red color for the trash icon */
}

.script-header .delete-script:hover {
    color: #c82333; /* Darker red on hover */
}

.script-header .delete-script i {
    font-size: 18px; /* Adjust the size as needed */
}

.script-entry pre {
    white-space: pre-wrap; /* Wraps text in <pre> */
    word-wrap: break-word; /* Breaks long words */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
.script-header .load-script {
    background: none;
    border: none;
    cursor: pointer;
    color: #28a745; /* Green color for the upload icon */
    margin-left: 5px;
}

.script-header .load-script:hover {
    color: #218838; /* Darker green on hover */
}

.script-header .load-script i {
    font-size: 18px; /* Adjust the size as needed */
}

.saved-scripts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.import-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
}

.import-button i {
  margin-right: 5px;
}

.import-button:hover {
  background-color: #0056b3;
}

.import-input {
  display: none;
}


#keywords-container {
  margin-top: 20px;
}

#keywords-container input[type="text"],
#keywords-container label {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
  width: 200px;
}

#keywords-container label {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  margin-right: 20px;
}

#add-keyword, #inspect-element{
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
}

#add-keyword:hover {
  background-color: #0056b3;
}

#global-keywords-container, #local-keywords-container {
  margin-top: 20px;
}

#global-keywords-list, #local-keywords-list {
  list-style-type: none;
  padding: 0;
}

#global-keywords-list li, #local-keywords-list li {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#global-keywords-list li .delete-keyword, #local-keywords-list li .delete-keyword {
  background: none;
  border: none;
  cursor: pointer;
  color: #dc3545; /* Red color for the delete icon */
}

#global-keywords-list li .delete-keyword:hover, #local-keywords-list li .delete-keyword:hover {
  color: #c82333; /* Darker red on hover */
}

#global-keywords-list li .delete-keyword i, #local-keywords-list li .delete-keyword i {
  font-size: 18px; /* Adjust the size as needed */
}

#global-keywords-list li .xpath, #local-keywords-list li .xpath {
  background-color: transparent;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: auto;
  display: inline;
  transition: border 0.3s ease;
}

#global-keywords-list li .xpath:focus, #local-keywords-list li .xpath:focus {
  border: 1px solid #007bff;
  background-color: white;
}
.tab-container {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.tab-button {
  flex: 1;
  padding: 10px 0;
  text-align: center;
  background-color: #f1f1f1;
  border: none;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: #ddd;
}

.tab-button.active {
  background-color: #ccc;
  font-weight: bold;
}

.tab-content {
  display: none;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
}

.tab-content.active {
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.button-container button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  margin:3px;
}

.button-container button i {
  margin-right: 5px;
}

.button-container button:hover {
  background-color: #0056b3;
}

.editable-span {
  position: absolute;
  background-color: blue;
  border: 1px solid blue;
  padding: 2px;
  z-index: 1000;
  color: black;
}
/* Styles for the Record tab */
.record-tab {
  padding: 20px;
  background-color: #f4f4f4; /* Light grey background for better contrast */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.record-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.record-button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.record-row {
  display: flex;
  justify-content: space-between;
}

.record-button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.record-button i {
  margin-right: 8px;
}

.record-button:hover {
  background-color: #0056b3;
}

/* Specific button styling if needed */
.record-type {
  background-color: #17a2b8;
}

.record-click {
  background-color: #17a2b8;
}

.record-run {
  background-color: #28a745;
}

.record-fetch {
  background-color: #6c757d;
}

.record-clear {
  background-color: #dc3545;
}

/* Hover effects for specific buttons */
.record-type:hover {
  background-color: #138496;
}

.record-click:hover {
  background-color: #138496;
}

.record-run:hover {
  background-color: #218838;
}

.record-fetch:hover {
  background-color: #5a6268;
}

.record-clear:hover {
  background-color: #c82333;
}


#actions_container {
  background-color: #f8f9fa; /* Light background for contrast */
  border: 1px solid #ced4da; /* Light border for definition */
  border-radius: 4px;
  padding: 10px;
  margin-top: 15px;
  max-height: 200px; /* Limit the height for overflow handling */
  overflow-y: auto; /* Enable scrolling if content exceeds max-height */
  font-family: "Courier New", Courier, monospace; /* Monospace font for code-like appearance */
  font-size: 14px;
  color: #343a40; /* Dark text color for readability */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  word-wrap: break-word; /* Break long words to prevent overflow */
}

/* Optional: Add some margin between JSON objects if you display multiple */
#actions_container div {
  margin-bottom: 10px;
}

/* Highlight the JSON keys */
#actions_container .json-key {
  color: #007bff; /* Blue color for keys */
  font-weight: bold;
}

/* Highlight the JSON string values */
#actions_container .json-string {
  color: #28a745; /* Green color for string values */
}

/* Highlight the JSON numeric values */
#actions_container .json-number {
  color: #dc3545; /* Red color for numeric values */
}

/* Highlight the JSON boolean values */
#actions_container .json-boolean {
  color: #ffc107; /* Yellow color for boolean values */
}

/* Highlight the JSON null values */
#actions_container .json-null {
  color: #6c757d; /* Gray color for null values */
}

.action-entry {
  margin-bottom: 10px;
}

.clickable-tag {
  text-decoration: underline;
}

.details {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
  padding-left: 10px;
}
#actions_container_header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#save_actions_button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

#save_actions_button:hover {
  background-color: #0056b3;
}
